<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <header class="header">
        <div class="logo">
           <h1>Logo</h1>
        </div>
        <nav class="nav-links">
            <ul>
                <li><a href="/aboutUs">About Us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/portfolio">Portfolio</li>
                <li><a href="/hireMe">Hire Me</li>
                
            
            </ul>
        </nav>
        
    </header>
    <section class="home-body">
        <div class="name-description">
            <h1>FALCOVINHO</h1>
        </div>
        <div class="MyPic">
           <h1>FALCOVINHO</h1>
        </div>
    </section>
</body>
</html>