<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Homepage</title>
</head>
<body>
    <header class="header">
        <div class="logo">
           <h1>Logo</h1>
        </div>
        <nav class="nav-links">
            
                <a href="/aboutUs">About Us</a>
                <a href="/services">Services</a>
                <a href="/portfolio">Portfolio</a>
                <a href="/hireMe">Hire Me</a>
                
            
            
        </nav>
        
    </header>
    <section class="home-body">
        <div class="name-description">
            <h1>FALCOVINHO</h1>
        </div>
        <div class="MyPic">
           <h1>FALCOVINHO</h1>
        </div>
    </section>
</body>
</html>